<div id="follow-bar">

	<h4>Follow me:</h4>

	<div class="follow-buttons">
	    <a  href="http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Fdanipindado.github.io%2Ffeed.xml"
	        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
	        title="Follow on Feedly" >
	        <i class="fa fa-rss-square follow-button"> feedly</i>
	    </a>
	    <a  href="https://danipindado.github.io/feed.xml"
	        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
	        title="rss" >
	        <i class="fa fa-rss follow-button"> rss</i>
	    </a>      
	</div>

</div>
<style>
/* Follow Bar */
#follow-bar {
    font-size: 20px;
}

/* Title */
#follow-bar h4 {
    margin-bottom: 10px;
    font-weight: 500;
}

/* All buttons */
.follow-buttons {
}
 
/* Each button */
.follow-button {
    margin: 0px;
    margin-bottom: 10px;
    margin-right: 3px;
    border: 1px solid #D3D6D2;
    padding: 5px 10px 5px 10px;
}
.follow-button:hover {
    opacity: 1;
    color: #ffffff;
}

/* Feedly button */
.fa-rss-square {
    color: #2bb24c;
}
.fa-rss-square:hover {
    background-color: #2bb24c;
}

  /* rss button */
.fa-rss {
    color: #f26522;
}
.fa-rss:hover {
    background-color: #f26522;
}

</style>
