{% include header.html %}

    {% include follow-bar.html %}
    {% include title-group.html %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-xs-9 col-xs-offset-1">
                    {{ content }}
                </div>

            </div>
        </div>
    </article>
{% include share-bar.html %}
{% include myamazon.html %}
{% include disqus.html %} 
{% include analytics.html %}

<script type="text/javascript"> var infolinks_pid = 2950086; var infolinks_wsid = 0; </script> <script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>
{% include footer.html %}
